@charset "UTF-8";
/*汎用ボタン*/
.btn {
    display: inline-block;
    line-height: 1.2;
    text-align: center;
    background-color: #fff;
    border: 1px solid #000000;
    min-width: 320px;
    padding: 24px;
    position: relative;
    font-size: 1.5rem;
    font-weight: 700;
}

img{
    width: 100%;
}

a{
    color: #000000;   
}

/*ヘッダー*/
.header{
    position: relative;
    display: block;
}

.logo{
    position: absolute;
    bottom: 15px;
    left: 60px;
    width: 27%;
}

@media screen and (max-width:768px) {
    .logo{
        left: 17px;
        bottom: 8px;
        width: 48%;
    }
}

.icon-container{
    position: absolute;
    display: flex;
    justify-content: space-around;
    width: 200px;
    bottom: 20px;
    right: 25px;
}

@media screen and (max-width:768px){
    .icon-container{
        width: 200px;
        bottom: -40px;
        right: 20px;
    }
}

.icon-container > li{
    flex: 0 0 30%;
}
/*ここまでヘッダー*/

.main{
    display: block;
}

.news-block{
    position: relative;
    padding-top: 144px;
}

.news-title-container{
    display: flex;
    justify-content: space-between;
}


.news-title-container a{
    flex: auto;
    font-size: 15px;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 500;
    font-style: normal;
    white-space: pre;
    text-decoration: none;
}

.news-title-container a::before{
    font-family: "Font Awesome 5 Brands";
    content: '\f16d';
    font-size: xx-large;
    font-weight: 500;
    vertical-align: -6px;
}

.icon-ig{
    display: inline-block;
    padding-left: 32px;
    position: relative;
}

.news{
    margin-left: 7%;
    margin-top: 16px;
    font-size: 37px;
    font-weight: 500;
}

.latest-info-pc{
    margin-right: 6%;
}

.news-wrap{
    position: relative;
    margin-top: 56px;
}

.news-slider .slick-slide{
    position: relative;
    padding-bottom: 64px;
    width: 320px;
}

.slick-initialized .slick-slide{
    display: block;
}

.news-slider{
    position: relative;
}

.slick-list{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.news-container{
    display: flex;
}

.news-content{
    padding: 0 32px;
}

.news-container > div{
    margin-left: 5%;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.news-content-title{
    margin-top: 24px;
    line-height: 1.6;
    font-size: 1.3rem;
    font-weight: 700;
}

.news-content-text{
    margin-top: 16px;
    font-size: 1.0rem;
    line-height: 2;
}
 
.detail{
    margin: 20px 0 40px;
    text-decoration: underline;
    font-size: 1.1rem;
}

.news-date{
    position: absolute;
    font-size: 1.1rem;
    font-weight: 700;
    width: calc(100% - 32px* 2);
    line-height: 1;
    padding-top: 16px;
    left: 32px;
    bottom: 0;
    border-top: 1px solid #000000;
}

@media screen and (min-width:769px){
    .latest-info-sp{
        display: none;
    }
}

@media screen and (max-width:768px){
    .news-title-container a{
        display: none;
    }
    
    .news-title-container a::before{
        vertical-align: -6px;
    }

    .news{
        padding: 0 16px;
    }

    .latest-info-pc{
        display: none;
    }

    .news-wrap{
        margin-top: 24px;
        padding: 0 16px 0 8px;
    }

    .news-content{
        padding: 0 8px;
    }
    
    .news-content-title{
        margin-top: 16px;
        line-height: 1.2;
        font-size: 1.6rem;
    }
    
    .news-content-text{
        margin-top: 8px;
        font-size: 1.1rem;
        line-height: 1.7;
    }

    .latest-info-sp{
        display: block;
        margin-top: 40px;
        text-align: center;
    }

    .latest-info-sp> .btn{
        min-width: 64vw;
        padding: 16px;
        font-size: 1.2rem;
        text-decoration: none;
    }

    .latest-info-sp >a::before{
        font-family: "Font Awesome 5 Brands";
        content: '\f16d';
        font-size: xx-large;
        font-weight: 500;
        vertical-align: -6px;
    }

    .icon-ig{
        padding-left: 24px;
    }
}
/*ここまでnews*/

.t-text{
    padding-top: 144px;
}

.about{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    padding-left: 10%;
    padding-right: 10%;
}

.about-title{
    font-size: 1.3rem;
    font-weight: 700;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-style: normal;
}

.about-title-text{
    font-size: 1.3rem;
    font-weight: 700;
}

.about-content{
    display: flex;
    margin-top: 72px;
}

.about-content-title{
    margin-top: 16px;
    width: 20%;
    font-size: 1.0rem;
}

.about-content-text{
    width: 80%;
    font-size: 1.0rem;
}

@media screen and (max-width:768px){
    .about-content{
        display: flex;
        flex-direction: column;
        margin-top: 72px;
    }
}
/*--------ここまでabout--------*/

.item{
    padding-top: 144px;
}

.item-box{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
}

.item-img-ceylon{
    height: 600px;
    width: 64%;
}

.item-img-scone{
    transform: translateX(60%);
    height: 600px;
    width: 64%;
}

.item-title-ceylon{
    position: absolute;
    font-size: 2.5rem;
    font-weight: 700;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-style: normal;
    padding: 72px 15px 96px;
    top: 10%;
    transform: translateY(-50%);
    width: 40%;
}

.item-title-scone{
    position: absolute;
    font-size: 2.5rem;
    font-weight: 700;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-style: normal;
    padding: 72px 15px 96px;
    top: 10%;
    right: -20%;
    transform: translateY(-50%);
    width: 40%;
}

.item-content-ceylon{
    position: absolute;
    padding: 72px 56px 96px;
    top: 50%;
    transform: translateY(-50%);
    width: 40%;
    right: 5%;
    background-color: #ffffff;
}

.item-content-scone{
    position: absolute;
    padding: 72px 56px 96px;
    top: 50%;
    transform: translateY(-50%);
    width: 40%;
    left: 5%;
    background-color: #ffffff;
}

.item-content-title{
    letter-spacing: -0.05em;
    line-height: 1.5;
    font-size: 1.8rem;
    font-weight: 700;
}

.item-text{
    margin-top: 32px;
    font-size: 1.0rem;
}
/*--------ここまでitem--------*/

.tea-products{
    padding-top: 144px;
}

.products-title{
    position: absolute;
    left: 33%;
    font-size: 2.2rem;
    font-weight: 700;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-style: normal;
    letter-spacing: -0.08em;
    line-height: 1.5;
    text-align: center;
}

.products-box-tea{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
}

.products-box-desert{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row-reverse;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
}

.products-img{
    width: 64%;
    object-fit: cover;
}

.products-content-tea{
    flex: 1;
    padding-left: 56px;
    background-color: #ffffff;
    width: 36%;
}

.products-content-desert{
    flex: 1;
    padding-right: 56px;
    background-color: #ffffff;
    width: 36%;
}

.products-content-title{
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-style: normal;
    letter-spacing: -0.08em;
    line-height: 1.5;
    margin-top: 32px;
    font-size: 1.8rem;
    font-weight: 700;
}

.products-text{
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-style: normal;
    margin-top: 32px;
    font-size: 1.0rem;
}
/*--------ここまでproducts--------*/

.recipe{
    padding-top: 210px;
}

.recipe-title{
    text-align: center;
}

.recipe-subtitle{
    line-height: 1.5;
    margin-top: 40px;
    padding: 0 72px;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
}

@media screen and (min-width:769px){
    .recipe-subtitle span{
        display: inline-block;
    }

    .space{
        display: none;
    }
}


.recipe-box{
    position: relative;
    margin-top: 96px;
    margin-left: 72px;
    min-height: 512px;
    padding-left: 112px;
}

.recipe-side-title{
    height: 100%;
    line-height: 1;
    padding-top: 24px;
    position: absolute;
    left: 0;
    width: 80px;
    font-weight: 500;
}

.recipe-side-title::before{
    background-color: #000;
    content: "";
    display: block;
    height: 8px;
    width: 96px;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}

.side-title{
    height: 100%;
}

.side-title > span{
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-style: normal;
    display: inline-block;
    position: relative;
    font-size: 2.0rem;
    writing-mode: vertical-rl;
    white-space: nowrap;
}

.side-subtitle{
    height: 100%;
    position: absolute;
    left: 56px;
    top: 10px;
}

.side-subtitle > span{
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-style: normal;
    display: inline-block;
    font-size: 1.0rem;
    writing-mode: vertical-rl;
    white-space: nowrap;
}

.recipe-scroll-container{
    scroll-snap-type: x proximity;
    overflow-x: scroll;
    width: 95%;
}

.scroll-wrap{
    margin-top: 5px;
    width: 145%;
    flex-wrap: nowrap;
    display: flex;
}

.recipe-scroll-container section{
    scroll-snap-align: start;
    width: 25%;
    margin: 25px;
}

.recipe-content-title{
    margin-top: 24px;
    line-height: 1.6;
    font-size: 1.3rem;
    font-weight: 700;
}

.recipe-content-text{
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-style: normal;
    margin-top: 16px;
    font-size: 0.9rem;
    line-height: 2;
}
/*--------ここまでrecipe--------*/
.shop-info{
    padding-top: 144px;
}

.shop-title{
    text-align: center;
}

.shop-box{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding-right: 5cqmax;
    padding-top: 5%;
    padding-bottom: 5%;
}

.shop-img{
    width: 58%;
    object-fit: cover;
}

.shop-content{
    padding-left: 8%;
    background-color: #ffffff;
    width: 42%;
}

.shop-content-title{
    line-height: 1.5;
    margin-top: 32px;
    font-size: 1.8rem;
    font-weight: 500;
}

.shop-text{
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-style: normal;
    margin-top: 10px;
    padding-bottom: 10px;
    font-size: 1.0rem;
}

.shop-address{
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    font-size: 0.8rem;
}

.shop-table{
    line-height: 1.5;
    font-size: 0.8rem;
}

.shop-address th{
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-style: normal;
    padding: 16px 8px;
}

.shop-address td{
    padding: 16px 8px;
}

.latest-info-shop{
    display: block;
    margin-top: 40px;
}

.latest-info-shop> .btn{
    min-width: 25vw;
    padding: 16px;
    font-size: 1.0rem;
    text-decoration: none;
}

.latest-info-shop >a::before{
    font-family: "Font Awesome 5 Brands";
    content: '\f16d';
    font-size: xx-large;
    font-weight: 500;
    vertical-align: -4px;
}

.online-shop{
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.online-shop::before{
    content: '';
    position: absolute;
    left: 50%;
    top: -2px;
    display: inline-block;
    width: 85%;
    height: 3px;
    transform: translateX(-50%);
    background-color: #000000;
}

.online-text-box{
    margin-left: 10%;
    margin-right: 15%;
}

.online-title{
    font-size: 1.1rem;
    font-weight: 100;
}

.online-text{
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-style: normal;
    font-size: 1.0rem;
}

.online-text p{
    line-height: 1;
}

.online-open{
    display: block;
    margin-top: 20px;
}

.online-open> .btn{
    min-width: 25vw;
    padding: 16px;
    font-size: 1.0rem;
    text-decoration: none;
}

.icon-cart{
    padding-left: 10%;
    font-size: 12px;
    display: inline-block;
}

.icon-cart::before{
    background-image: url(img/icon_cart.svg);
    content: "";
    display: block;
    position: absolute;
    left: 33%;
    top: 50%;
    transform: translateY(-50%);
    background-size: 24px 24px;
    height: 24px;
    width: 24px;
}
/*--------ここまでshop-info--------*/
.contact{
    padding-top: 144px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    padding-left: 72px;
    padding-right: 72px;
    text-align: center;
}

.contact-title{
    text-align: center;
}

.contact-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
    gap: 32px;
}

.contact-form{
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.contact-form input, select, textarea {
    display: flex;
}

.form-label{
    width: 24vw;
    text-align: start;
    margin-top: 0%;
}

.form{
    width: 64vw;
    padding: 16px 8px;
    border: 1px solid gray;
}

.privacy{
    display: flex;
    align-items: center;
}

.submit-btn{
    display: inline-block;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-style: normal;
    line-height: 1.2;
    text-align: center;
    background-color: gray;
    color: #ffffff;
    border: none;
    min-width: 320px;
    padding: 24px;
    position: relative;
    font-size: 1.0rem;
    font-weight: 500;
    align-items: center;
}

footer{
    line-height: 1;
    padding: 160px 0;
    text-align: center;
}


/*--------------------------------*/
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 500;
    font-style: normal;
    line-height: 2;
}