@charset "UTF-8";

/* リセットcss */
abbr,
address,
article,
aside,
audio,
b,
blockquote,
body,
canvas,
caption,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
p,
pre,
q,
samp,
section,
small,
span,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0
}

body {
    line-height: 1
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: none
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0
}

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none
}

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: 700
}

del {
    text-decoration: line-through
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0
}

input,
select {
    vertical-align: middle
}

body * {
    /* box-sizing: border-box; */
    font-family:"Zen Maru Gothic", serif;
}

/* ここまで リセットcss */

/* 一旦輪郭をつけとく */
header, main, footer, div {
    /* border: 1px solid black; */
    line-height: 2;
}
/* img が　divからはみ出すのを防ぐ */
img {
    max-width: 100%;
}

/*aタグの下線等を消す*/
a {
    text-decoration: none;
    color: black;
}

/* header */
.top-image-box {
    position: relative;
}

.top-image-box img {
    width: 100%;
}

.over-image-text {
    position: absolute;
    bottom: 20px;
    left: 60px;
}

.icon-image-box {
    display: flex;
    position: absolute;
    bottom: 20px;
    right: 50px;
}

.icon-image-box li {
    width: 30px;
    height: 30px;
    margin: 5px 20px;
}

/* news */
.news {
    max-width: 100%;
    padding: 80px 40px;
}

.news-top {
    display: flex;
    height: 50px;
    margin: 0 30px;
}

.news-top p {
    font-size: 60px;
}

.insta-button {
    margin-left: auto;
    height: 50px;
    line-height: 50px;
    font-size: large;
}

.all-news-box {
    display: flex;
}

.one-news-box {
    width: 280px;
    height: auto;
    margin: 30px;
    line-height: 2;
}

.one-news-box img {
    object-fit: cover;
    width: 100%;
}

.one-news-box p {
    font-weight: bolder;
    margin: 10px 5px;
    font-size: 20px;
}

.under {
    text-decoration: underline;
}

/* about-company */
.about-company {
    margin: 20px 10% 60px;
    font-weight: bold;
}

.about-1 {
    font-size: large;
}

.about-2 {
    margin: 60px 0;
    display: flex;
}

.about-2 > p {
    width: 10%;
}

/*product-intro*/
.product-intro {
    margin: 60px;
}

.product-img{
    width: 60%;
}

.one-product {
    display: flex;
    margin-bottom: 60px;
}

.product-text {
    width: 450px;
    height: 450px;
    margin: auto;
    z-index: 1;
    background-color: white;
}

.product-text h1, .product-text p {
    padding: 20px 60px;
}

.product-text h1 {
    font-size: 30px;
    padding-top: 60px;
}

.product1 {
    transform: translate(-100px,0);
}
.product2 {
    transform: translate(100px, 0);
}


/* product-pride */
.product-pride {
    text-align: center;
    margin: 20px 10%;
}

.product-pride-top {
    margin: 20px auto;
}


.product-pride h2 {
    font-size: 30px;
    font-weight:bolder;
}

.pride-img {
    width: 60%;
}

.pride-topic {
    width: 40%;
}

.one-pride {
    display: flex;
    margin: 60px 0;
}

.pride-topic {
    padding: 40px;
}

.content-pride {
    text-align: left;
}

/* recipe */

.recipe-title {
    width: 15%;
    margin: 0 auto;
}

.recipe-main {
    margin-left: 5%;
    display: flex;
}

.recipe-tate {
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    text-align: left;
    border-top: 8px solid black;
    padding: 10px 0;
}

 
.recipe h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 100px;
}

.recipe-tate h2 {
    text-align: left;
}

.recipe-overflow {
    overflow-x: scroll;
    display: flex;
    width: 90%;
    flex-wrap: nowrap;
}

.recipe-overflow > div {
    width: 35%;
    margin: 20px;
    display: block;
    flex-shrink: 0;
}

.recipe-text {
    overflow-wrap: break-word;
    display: block;
}

.recipe-text > h2 {
    font-size: 30px;
    margin-bottom: 0;
    text-align: start;
}


/* shop-information */
.shop-information-title {
    margin: 60px 32%;
}

.shop-information-main {
    display: flex;
}

.shop-information-left {
    width: 60%;
}

.shop-information-right {
    width: 40%;
    padding: 0 120px;
}

.shop-information-right-title {
    width: 20%;
    margin: 10px;
}

.shop-information-right p {
    margin: 5px 0;
}

.shop-information-table {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin: 40px 0;
}

th {
    padding: 8px 16px;
}

.intro-insta {
    border: 1px solid black;
    padding: 20px;
    cursor: pointer;
    text-align: center;
    width: 70%;
    margin: 0 auto;
}

.intro-insta:hover {
    background-color: #eeeeee;
    transition: 1s;
}

/*online-shop*/
.online-shop {
    margin: 40px 5%;
    padding: 40px;
    border-top: #000 4px solid;
}
.online-shop-top {
    width: 20%;
}

.online-shop-main {
    display: flex;
}

.intro-shop {
    border: 1px solid black;
    margin-left: auto;
    padding: 20px;
    cursor: pointer;
    text-align: center;
    width: 30%;
}

.intro-shop:hover {
    background-color: #eeeeee;
    transition: 1s;
}



/* contact */
.contact {
    width: 100%;
    height: 800px;
    text-align: center;
}

.contact-top {
    width: 10%;
    margin: 20px auto;
}

.contact div {
    margin-bottom: 20px;
}

.one-contact {
    margin: 20px auto;
    width: 80%;
    display: flex;
}

.one-contact label {
    width: 30%;
    text-align: left;
}

.one-contact input, select {
    width: 100%;
    height: 40px;
}

.one-contact textarea {
    width: 100%;
}

.contact-button {
    width: 30%;
    height: 60px;
    margin: 20px auto;
    background-color: gray;
    color: white;
    border: 1px solid black;
    line-height: 60px;
}

.contact-button:hover {
    color: black;
    background: white;
    transition: .5s;
}

footer {
    text-align: center;
    margin: 60px auto 120px;
}





