@charset "UTF-8";

/* リセットcss */
abbr,
address,
article,
aside,
audio,
b,
blockquote,
body,
canvas,
caption,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
p,
pre,
q,
samp,
section,
small,
span,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: 0 0;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: 0 0;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: 700;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

body * {
  box-sizing: border-box;
}

/* ここまで リセットcss */

/* フォント */
.zen-maru-gothic-light {
  font-family: "Zen Maru Gothic", serif;
  font-weight: 300;
  font-style: normal;
}

.zen-maru-gothic-regular {
  font-family: "Zen Maru Gothic", serif;
  font-weight: 400;
  font-style: normal;
}

.zen-maru-gothic-medium {
  font-family: "Zen Maru Gothic", serif;
  font-weight: 500;
  font-style: normal;
}

.zen-maru-gothic-bold {
  font-family: "Zen Maru Gothic", serif;
  font-weight: 700;
  font-style: normal;
}

.zen-maru-gothic-black {
  font-family: "Zen Maru Gothic", serif;
  font-weight: 900;
  font-style: normal;
}

/* ここまで フォント */

body {
  font-size: 16px;
}

header {
  position: relative; /* 重ねたいものの親要素にrelative */
}

.hdr-img {
  width: 100%;
  height: auto;
}

.hdr-logo {
  position: absolute;
  font-size: large;
  width: auto;
  height: auto;
  left: 64px;
  bottom: 24px;
}

.hdr-icons {
  position: absolute; /* 重ねたいものの子要素にabsolute */
  right: 48px;
  bottom: 16px;
}

.hdr-icons li {
  float: left;
  margin-right: 32px;
}

.hdr-icons img {
  width: 32px;
  height: auto;
}

.news {
  position: relative;
  margin-top: 128px;
  margin-left: 64px;
  margin-right: 64px;
}

.news-logo {
  font-size: 48px;
  width: 128px;
}

.news-ig {
  position: absolute;
  right: 0;
  top: 8px;
  color: #000;
  text-decoration: none;
}

.news-ig::before {
  content: url(img/icon_ig.svg);
  vertical-align: text-bottom;
  margin-right: 0.4rem;
}

.news-container {
  margin-top: 64px;
  display: flex;
  column-gap: 64px;
}

.news-content {
  width: 300px;
}

.news-content img {
  width: 300px;
}

.news-content-title {
  font-family: "Zen Maru Gothic", serif;
  font-weight: 700;
  font-style: normal;
  margin-top: 24px;
}

.news-content-text {
  font-weight: 500;
  line-height: 2;
}

.news-content-link {
  color: #000;
  text-decoration: none;
}

.news-content-detail {
  font-family: "Zen Maru Gothic", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  text-decoration: underline solid;
  margin-top: 24px;
  margin-bottom: 48px;
}

.news-content-date {
  font-family: "Zen Maru Gothic", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 13px;
  border-top: 1px solid #000;
  padding-top: 16px;
}

/* belief */
.belief {
  position: relative;
  margin-top: 128px;
  margin-left: 256px;
  margin-right: 256px;
  font-size: 18px;
}

.belief-abs {
  font-family: "Zen Maru Gothic", serif;
  font-weight: 700;
  font-style: normal;
  line-height: 2;
  font-size: 20px;
}

.belief-container {
  display: flex;
  margin-top: 64px;
}

.belief-title {
  width: 512px;
  font-weight: 550;
}

.belief-text {
  width: 216%;
  line-height: 2;
  font-weight: 500;
}

.belief-text p + p {
  margin-top: 32px;
}

/* products */
.products {
  margin-top: 128px;
  margin-left: 72px;
  margin-right: 72px;
  position: relative;
}

.products-container {
  margin-top: 80px;
  position: relative;
  height: 592px;
}

.products-container > h1 {
  position: absolute;
  font-size: 48px;
  font-weight: normal;
}

.products-container.ceylon h1 {
  z-index: 1;
  left: 100px;
  top: 64px;
}

.products-container.scone h1 {
  z-index: 1;
  right: 100px;
  top: 64px;
}

.products-text {
  position: absolute;
  padding-top: 64px;
  padding-bottom: 64px;
  padding-right: 48px;
  padding-left: 48px;
  width: 420px;
  height: 80%;
  top: 10%;
  background: #fff;
}

.products-text > h2 {
  font-size: 32px;
}

.products-text > p.text {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 450;
  padding-top: 64px;
  padding-bottom: 32px;
}

.products-text > p.price {
  padding-top: 16px;
  font-weight: 450;
}

.products-text.ceylon {
  right: 160px;
}

.products-text.scone {
  left: 160px;
}

.products-img {
  position: absolute;
  width: 700px;
  height: 100%;
}

.products-img > img {
  object-fit: cover;
  width: 700px;
  height: 100%;
}

.products-img.ceylon {
  left: 128px;
  top: 0;
}

.products-img.scone {
  right: 128px;
  top: 0;
}

/* feature */
.feature {
  margin-top: 128px;
  margin-left: 150px;
  margin-right: 150px;
  position: relative;
}

.feature h1 {
  text-align: center;
  font-size: 36px;
}

.feature-container {
  position: relative;
  margin-top: 64px;
  height: 440px;
}

.feature-text {
  position: absolute;
  height: 440px;
  width: 340px;
}

.feature-text h2 {
  font-size: 30px;
  margin-top: 48px;
}

.feature-text p {
  font-weight: 500;
  font-size: 20px;
  margin-top: 48px;
  line-height: 1.5;
}

.feature-text.black_tea {
  right: 32px;
}

.feature-text.sweets {
  left: 32px;
}

.feature-img {
  position: absolute;
  height: 440px;
}

.feature-img.black_tea {
  left: 32px;
}

.feature-img.sweets {
  right: 32px;
}

.feature-img > img {
  height: 100%;
}

.recipe {
  margin-top: 128px;
  margin-left: 48px;
  margin-right: 48px;
  position: relative;
}

.recipe > h1 {
  text-align: center;
  line-height: 2;
  font-size: 40px;
}

.recipe-container {
  margin-top: 48px;
  display: flex;
  column-gap: 64px;
}

.recipe-title {
  writing-mode: tb-rl;
  line-height: 2;
  padding-top: 16px;
  border-top: 8px solid #000;
}

.recipe-title > h2 {
  font-size: 36px;
}

.recipe-title > p {
  font-weight: 550;
}

.recipe-scroll {
  display: flex;
  column-gap: 48px;
  overflow-x: scroll;
}

.recipe-img {
  width: 350px;
  height: 350px;
}

.recipe-img img {
  width: 100%;
  height: 100%;
}

.recipe-content-title {
  margin-top: 32px;
}

.recipe-content-title h3 {
  font-size: 24px;
}

.recipe-content-text {
  margin-top: 24px;
  line-height: 1.5;
}

.recipe-content-text p {
  font-size: 16px;
  font-weight: 400;
}

.shop {
  margin-top: 128px;
  margin-left: 96px;
  margin-right: 128px;
  position: relative;
}

.shop > h1 {
  text-align: center;
  font-size: 40px;
}

.shop-info {
  display: flex;
  column-gap: 90px;
  margin-top: 64px;
}

.shop-text {
  margin-top: 32px;
  font-weight: 500;
}

.shop-text p {
  font-size: 20px;
  line-height: 2;
}

.shop-cafe h2 {
  font-size: 30px;
}

.shop-table {
  margin-top: 40px;
  margin-bottom: 20px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.shop-table th {
  padding: 20px;
}

.shop-table td {
  padding: 20px;
}

.shop-button {
  border: 1px solid #000;
  width: 320px;
}

.shop-button > a {
  color: #000;
  text-decoration: none;
}

.shop-button p {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20px;
  font-weight: 550;
  text-align: center;
}

.shop-cafe > .shop-button {
  margin-top: 20px;
}

.shop-cafe > .shop-button p::before {
  content: url(img/icon_ig.svg);
  vertical-align: text-bottom;
  margin-right: 0.4rem;
}

.shop-online {
  position: relative;
  padding-top: 32px;
  padding-left: 64px;
  padding-right: 32px;
  border-top: 2px solid #000;
  margin-top: 64px;
  margin-left: 64px;
}

.shop-online h2 {
  font-size: 30px;
}

.shop-online > .shop-button {
  position: absolute;
  top: 40px;
  right: 40px;
}

.shop-online > .shop-button p::before {
  content: url(img/icon_cart.svg);
  vertical-align: text-bottom;
  margin-right: 0.4rem;
}

.shop-rmk {
  font-weight: 500;
}

.shop-online > .shop-rmk {
  margin-top: 16px;
}

.contact {
  margin-top: 128px;
  margin-left: 192px;
  margin-right: 128px;
  position: relative;
}

.contact > h1 {
  text-align: center;
  font-size: 40px;
}

.contact .container {
  position: relative;
  margin-top: 32px;
  height: 50px;
}

.contact .container.detail {
  height: 128px;
}

.contact input:not(.submit, .policy) {
  position: absolute;
  width: 800px;
  height: 48px;
  right: 64px;
}

.contact .container.detail input {
  height: 128px;
}

.contact select {
  position: absolute;
  width: 800px;
  height: 48px;
  right: 64px;
}

.contact .button {
  margin-top: 16px;
  text-align: center;
}

.contact .button input {
  height: 48px;
  width: 256px;
}

.policy {
  text-align: center;
}

.ftr {
  margin-top: 128px;
  margin-bottom: 128px;
  text-align: center;
}

